<ion-view title="APPOINTMENTS">
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon" style="color: white;"></button>
    </ion-nav-buttons>
    <ion-content class="has-header ak-bg" style="background-color: black;">
        <label style="color: #fff; width:70%; float:left;margin-left: 2%;margin-top: 20px;">SELECT SERVICE</label>
        <div class="list">
            <select id="soflow" ng-options="option.Text for option in services.availableOptions track by option.Id" ng-model="services.selectedOption" ng-change="hasServiceChanged()" style="background-color: black;margin-left: 2%;">
            </select>
        </div>
        <label style="color: #fff; width:70%; float:left;    margin-left: 2%;">SELECT VEHICLE</label>
        <div class="list">
            <select id="soflow" ng-options="option.ChassisNumber for option in vehicles.availableOptions track by option.Id" ng-model="vehicles.selectedOption" style="background-color: black;    margin-left: 2%;" ng-change="hasChanged()">
            </select>
        </div>
        <div style="width: 96%;margin: auto;height: 40px;text-align: center;color: white;border: solid;padding: 8px;border-width: 1px;margin-top: 20px;" ng-click="book()">
            Book Appointment
        </div>
        <div style="width: 96%;margin: auto;height: 40px;text-align: center;color: white;border: solid;padding: 8px;border-width: 1px;margin-top: 20px;" ng-click="showForm()">
            Register Vehicle
        </div>
        <form name="form" ng-if="isShowing">
            <div class="padding ak-pt-20">
                <div style="width:90%; float:left; padding-bottom:20px; margin-left:13px;margin-right:40px; padding-left:20px; padding-right:20px;">
                    <input type="text" ng-model="final_obj.PlateNumber" style=" color: #fff; width:100%; float:left;" placeholder="Plate Number e.g KCA-001" />
                </div>
                <div style="width:90%; float:left; padding-bottom:20px; margin-left:13px; margin-right:40px; padding-left:20px; padding-right:20px;">
                    <input type="text" ng-model="final_obj.ChassisNumber" style="color: #fff;  width:100%;float:left; background: transparent; border-bottom-color: white;border-bottom-style: solid; border-bottom-width: thin;" placeholder="Chassis Number e.g Chasis-003">
                </div>
                <div style="width:90%; float:left; padding-bottom:20px; margin-left:13px;margin-right:40px; padding-left:20px; padding-right:20px;">
                    <input type="text" ng-model="final_obj.VehicleName" style=" color: #fff; width:100%; float:left; background: transparent; border-bottom-color: white;border-bottom-style: solid; border-bottom-width: thin;" placeholder="Vehicle Name e.g Honda" />
                </div>
                <div style="width:90%; float:left; padding-bottom:20px; margin-left:13px; margin-right:40px; padding-left:20px; padding-right:20px;">
                    <input type="text" ng-model="final_obj.EngineNumber" style="color: #fff;  width:100%;float:left;" placeholder="Engine Number e.g 999-4">
                </div>
            </div>
            <div class="padding ak-pt-20">
                <button ng-click="registerVehicle()" type="submit" class="button button-block button-transparent" style="width:80%; border-radius:0px; float:left;  margin-left:32px;margin-right:40px; padding-left:20px; padding-right:20px;"> SUBMIT </button>
            </div>
        </form>
    </ion-content>
</ion-view>
