<style>
#bookingcontainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.listitem {
    height: 120px;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
}

.calender {
    width: 100px;
    height: 80px;
    top: 15%;
    left: 10%;
    position: absolute;
    background-color: black;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.talkbubble {
    width: 100px;
    height: 20px;
    background: red;
    position: absolute;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.talkbubble2 {
    width: 100px;
    height: 20px;
    background: white;
    position: absolute;
    top: 60.5px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.rectangle {
    width: 100px;
    height: 40px;
    top: 20px;
    position: absolute;
    background: white;
}

.timeappointment {
    position: absolute;
    width: 130%;
    left: 130px;
    color: white;
    font-size: 25px;
    font-weight: 600;
    /* margin-top: 10px; */
    height: 40px;
    top: 10px;
}

.locationappointment {
    color: white;
    font-size: 16px;
    position: absolute;
    left: 130px;
    width: 120px;
    top: 40px;
}

.lg-icon-caret-left:before {
    content: "\e90a";
}
.payDepositBtn{
    left: 10%;
    top: 40%;
    height: 6%;
    width: 80%;
    position:absolute;
    border-style: solid; 
    border-color: white;
    border-width: thin;
    border-radius: 2%;
}
</style>
<ion-view>
    <ion-header>
        <div class="bar bar-header bar-dark no-top">
            <div class="buttons">
                <button class="button button-icon ion-ios-arrow-back" nav-direction="back" ng-click="$ionicGoBack(); "></button>
            </div>
            <h1 class="title">APPOINTMENTS</h1>
        </div>
    </ion-header>
    <ion-content class="has-header ak-bg" style="background-color: black;">
        <div id="bookingcontainer">
            <div style="position: absolute;color: white;width: 200px; top: 7%; left: 10%; font-size: large;">
                PLEASE REVIEW
            </div>
            <div class="calender" style="margin-top: -13px;">
                <div class="talkbubble">
                    <p style="text-align: center; color: white;">{{x.day}}</p>
                </div>
                <div class="rectangle">
                    <p style="text-align: center; font-size: 25px;color: red;margin-top: 8px;">{{x.date}}</p>
                </div>
                <div class="talkbubble2">
                    <p style="text-align: center;">{{x.month}}</p>
                </div>
                <div class="timeappointment">
                    {{x.startTime}}
                </div>
                <div class="locationappointment">
                    <img src="img/location_icon_red.png" width="15" height="15"> {{x.location}}
                </div>
            </div>
            <div ui-sref="appointconfirmed" style="left: 10%; top: 33%; height: 6%; width: 80%; position:absolute; border-style: solid; border-color: white; border-width: thin; border-radius: 2%;">
                <p style="text-align: center; color: white; font-size: 15px; margin-top: 2% ;">
                    PAY DEPOSIT
                </p>
            </div>
            <div style="position: absolute;color: white; top: 40%; left: 10%; width: 80%;">
                <p style="text-align: center; color: white; font-size: 15px; margin-top: 15% ;">
                    (60 SAR)
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
