
<ion-view>
    <ion-header>
        <div class="bar bar-header bar-dark no-top">
            <div class="buttons">
                <button class="button button-icon ion-ios-arrow-back" nav-direction="back" ng-click="$ionicGoBack(); "></button>
            </div>
            <h1 class="title">CONTACT US</h1>
        </div>
    </ion-header>
<ion-content class="has-header ak-bg" style="background-color: black;">

<div class="at-form-outline" style="margin-top: 10px;">

	<div class="at-user-info">
		<img src="img/profile_small_icon.png" class="at-profile-img"/>
		<p class="at-address-title">ADDRESS</p>
		<p class="at-address-text" ng-click="openMap()" style="text-decoration: underline;">AI-Madinah AI-Munawarah Rd, District<br>
		Rawdah Jeddah 23434 4786</p>
		<hr/>
		<div style="margin-top: -10px;">
			<img src="img/mobile_icon.png" class="at-profile-img"/><br>
			<a href="tel: +9923423"><p class="at-user-number" style="text-decoration: underline;">9923423</p></a>
		</div>
		<div>
			<img src="img/email_icon.png" class="at-profile-img"/>
			<a  href="mailto:sales@autotek.com"><p class="at-user-number" style="text-decoration: underline;">Sales@autotek.com</p></a>
		</div>
		<div>
			<img src="img/webAddress_icon.png" class="at-profile-img" style="padding-bottom: 10px;"/>
			<p  class="at-user-number" style="margin-top: -50px !important; text-decoration: underline;" ng-click="openWeb()" >http://autoksa.com</p>
		</div>
		<hr/ style="margin-top: 20px;">
		<div class="at-schedule">
			<p>Monday <span class="at-spacing">=</span><span class="at-spacing">8:00 am - 6:00 pm</span> </p>
			<p>Tuesday <span class="at-spacing">=</span><span class="at-spacing">8:00 am - 6:00 pm</span> </p>
			<p>Wednesday<span style="margin-left: 22px;">=</span><span class="at-spacing">8:00 am - 6:00 pm</span> </p>
			<p>Thursday<span style="margin-left: 37px;">=</span><span class="at-spacing">8:00 am - 6:00 pm</span> </p>
			<p>Friday<span style="margin-left: 55px;">=</span><span class="at-spacing">8:00 am - 6:00 pm</span> </p>
			<p>Saturday <span style="margin-left: 33px;">=</span><span class="at-spacing">8:00 am - 6:00 pm</span> </p>
			<p>Sunday<span style="margin-left: 45px;">=</span><span class="at-spacing">8:00 am - 6:00 pm</span> </p>
		</div>
	</div>




















	<!--<div style="width:86%; float:left; padding-top:20px; padding-bottom:20px; margin-left:13px;margin-right:40px; padding-right:20px;">
		<img src="img/profile_small_icon.png" class="lg-icons"/> 
		<label style=" color: #fff; width:70%; float:left;">ADDRESS</label>
	</div>
	
	<p class="ak-content">AI-Madinah AI-Munawarah Rd, District </p>
	<p class="ak-content" >Rawdah Jeddah 23434 4786</p>


	<div class="blk-content">

		<div style="width:90%; float:left; padding-top:10px; border-top:2px solid #FFF;">
			<img src="img/profile_small_icon.png" class="lg-icons"/> 
			<label style=" color: #fff; width:70%; float:left; padding-top:10px;">920002108</label>
		</div>
		<div style="width:90%; float:left; padding-top:10px;">
			<img src="img/profile_small_icon.png" class="lg-icons"/> 
			<label style=" color: #fff; width:70%; float:left; padding-top:10px;">Sales@autotek.com</label>
		</div>
		<div style="width:90%; float:left; padding-top:10px; padding-bottom:10px; border-bottom:2px solid #FFF;">
			<img src="img/profile_small_icon.png" class="lg-icons"/> 
			<label style=" color: #fff; width:70%; float:left; padding-top:10px;">http://www.autoksa.com</label>
		</div>
	</div>




	<div class="blk-content">
		<ul style="float:left">
			<li><p class="ak-content" >Monday</p></li>
			<li><p class="ak-content" >Tuesday</p></li>
			<li><p class="ak-content" >Wednesday</p></li>
			<li><p class="ak-content" >Thursday</p></li>
			<li><p class="ak-content" >Friday</p></li>
			<li><p class="ak-content" >Saturday</p></li>
			<li><p class="ak-content" >Sunday</p></li>
		</ul>
		<ul style="float:left">
			<li><p class="ak-content" >=</p></li>
			<li><p class="ak-content" >=</p></li>
			<li><p class="ak-content" >=</p></li>
			<li><p class="ak-content" >=</p></li>
			<li><p class="ak-content" >=</p></li>
			<li><p class="ak-content" >=</p></li>
			<li><p class="ak-content" >=</p></li>
		</ul>
		<ul style="float:left">
			<li><p class="ak-content" >8:00 am - 6:00 pm</p></li>
			<li><p class="ak-content" >8:00 am - 6:00 pm</p></li>
			<li><p class="ak-content" >8:00 am - 6:00 pm</p></li>
			<li><p class="ak-content" >8:00 am - 6:00 pm</p></li>
			<li><p class="ak-content" >Closed</p></li>
			<li><p class="ak-content" >8:00 am - 6:00 pm</p></li>
			<li><p class="ak-content" >8:00 am - 6:00 pm</p></li>
		</ul>
	</div>-->
</div>
</ion-content>
</ion-view>