<style type="text/css">
.color-red {
    color: red;
}
.color-white {
    color:  white;
}

.main-card{
    width:95%;
    height: 160px;
    background-color: white;
    border-radius: 08px;
    margin-top: 30px !important;
    margin: auto;
}
.card-header-red{
    width: 100%;
    height: 40px;
    background: red;
    border-top-left-radius: 08px;
    border-top-right-radius: 08px;
}
.card-header-green{
    width: 100%;
    height: 40px;
    background: green;
    border-top-left-radius: 08px;
    border-top-right-radius: 08px;
}
.card-header-blue{
    width: 100%;
    height: 40px;
    background: blue;
    border-top-left-radius: 08px;
    border-top-right-radius: 08px;
}
.card-header-content{
    float: right;
    color: white;
     margin-top: 05px;
}
.card-header-content label{
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;  
}
.img-size{
    width:110px;
    height: 110px;
    margin-left: 10px;
    margin-top: -75px;
    float: right;
    margin-right: 5px;
}
.card-para{
    width:60%;
    float: left;
    color:gray;
    margin-top: 10px;
    margin-left: 15px;
}
.card-btn{
    width: 130px;
    height: 40px;
    background-color: #d6d7d7;
    margin-top: 75px;
    text-align: center;
    border-radius: 5px;
    margin-left:30px;
    line-height: 40px;
    font-size: 16px;
}
</style>
<ion-view>
    <ion-header>
        <div class="bar bar-header bar-dark no-top">
            <div class="buttons">
                <button class="button button-icon ion-ios-arrow-back" nav-direction="back" ng-click="$ionicGoBack(); "></button>
            </div>
            <h1 class="title">{{title}}</h1>
        </div>
    </ion-header>
    <ion-content class="has-header ak-bg" style="background-color: black;">
        <div class="d">
               <p style="margin-top: 20px;" ng-bind-html="txt">
              
               </p>
            
           
        </div>
       
    </ion-content>
</ion-view>
