<ion-view>
    <ion-header>
        <div class="bar bar-header bar-dark no-top">
            <div class="buttons">
                <button class="button button-icon ion-ios-arrow-back" nav-direction="back" ng-click="$ionicGoBack(); "></button>
            </div>
            <h1 class="title">ABOUT US</h1>
        </div>
    </ion-header>
    <ion-content class="has-header ak-bg" style="background-color: black; overflow-y: hidden;">

        <!-- <div class="logo-header ak-mt-50"></div> -->
        <div style="width: 100%; height: 10%; ">
            <img src="img/autotek_logo.png" style="width: 60%; height:100%; margin-left: 20%; ">
        </div>
        <div style="width: 90%; margin-left: 5%; height: 90%; ">
        <p class="abt-p">Autotek is a thriving organization with a rich foundation based on invention,innovation and imagination for car styling. Autotek is always on the lookout for new technology in car styling to give their customers the very best quality and service.</p>
        <p class="abt-p">Autotek's current services include: highly engineered Nano Ceramic window tinting films for energy , safety ,and security.Supper body paint coating protection that protects your car from scratches and other hazardous materials on the road while keeping your car' brand new look , and Supreme Stream Car wash that gives your car a sparkling clean exterior and interior.</p>
        <p class="abt-p">We thrive on leading the market with quality service and products. Autotek believes in true customer satisfaction and values our customers greatly because we understand that 'Your Car Deserves the Best! </p>
        </div>
    </ion-content>
</ion-view>
