<ion-view>
    <ion-header>
        <div class="bar bar-header bar-dark no-top">
            <div class="buttons">
                <button class="button button-icon ion-ios-arrow-back" nav-direction="back" ng-click="$ionicGoBack(); "></button>
            </div>
            <h1 class="title">SERVICES</h1>
        </div>
    </ion-header>
    <ion-content class="has-header ak-bg" style="background-color: black;">
        <div class="d">
            <div class="card" style="border-radius:8px;" ng-click="readMorePage(1)">
                <div class="row " style="background-color:red; color:#fff; margin-top:-1px;">
                    <label class="ion-arrow-right-b" style="margin-right:15px; margin-left:15px;"></label>WINDOW TINTING</div>
                <div class="item item-text-wrap" style="padding-left:5px; padding-top:5px;">
                    <img src="img/settings_car_white.png" class="lg-sv-icons" />
                    <p>Window films is not unheard of today and there are a lot of companies that are...</p>
                    <button class="button" style="box-shadow:0px 0px 1px #888888;font-size:12px; float:right;min-height:25px ;margin-top: 0px; margin-bottom: 2px; line-height: 20px ; background-color:#d6d7d7; color: black;" ng-click="readMorePage(1)">
                        READ MORE >
                    </button>
             
                </div>
            </div>
            <div class="card" style="border-radius:8px;" ng-click="readMorePage(2)">
                <div class="row " style="background-color:#333333; color:#fff; margin-top:-1px;">
                    <label class="ion-arrow-right-b" style="margin-right:15px; margin-left:15px;"></label>BODY PROTECTION</div>
                <div class="item item-text-wrap" style="padding-left:5px; padding-top:5px;">
                    <img src="img/settings_car_golden.png" class="lg-sv-icons" />
                    <p>We know you love your car!  We also know that you love your family, and ...</p>
                    <button class="button" style=" box-shadow:0px 0px 1px #888888; font-size:12px;float:right;min-height:25px ;margin-top: 0px; margin-bottom: 2px; line-height: 20px ; background-color:#d6d7d7; color: black;" ng-click="readMorePage(2)">
                        READ MORE >
                    </button>
                </div>
            </div>
            <div class="card" style="border-radius:8px;" ng-click="readMorePage(3)">
                <div class="row " style="background-color:#0000ff; color:#fff; margin-top:-1px;">
                    <label class="ion-arrow-right-b" style="margin-right:15px; margin-left:15px;"></label>AUTO DETAILING</div>
                <div class="item item-text-wrap" style="padding-left:5px; padding-top:5px;">
                    <img src="img/settings_car_red.png" class="lg-sv-icons" />
                    <p>Professional detailing is extremely important for any automobile. Maintaining...</p>
                    <button class="button" style="box-shadow:0px 0px 1px #888888; font-size:12px;float:right;min-height:25px ;margin-top: 0px; margin-bottom: 2px; line-height: 20px ; background-color:#d6d7d7; color: black;" ng-click="readMorePage(3)">
                        READ MORE >
                    </button>
                </div>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>
