<ion-view>
    <ion-header>
        <div class="bar bar-header bar-dark no-top">
            <div class="buttons">
                <button class="button button-icon ion-ios-arrow-back" nav-direction="back" ng-click="$ionicGoBack(); "></button>
            </div>
            <h1 class="title">معلومات عنا</h1>
        </div>
    </ion-header>
    <ion-content class="has-header ak-bg" style="background-color: black; overflow-y: hidden;">

        <!-- <div class="logo-header ak-mt-50"></div> -->
        <div style="width: 100%; height: 10%; ">
            <img src="img/autotek_logo.png" style="width: 60%; height:100%; margin-left: 20%; ">
        </div>
        <div style="width: 90%; margin-left: 5%; height: 90%; ">
        <p class="abt-p" style="direction: rtl;font-size: 18px;">Autotek هي منظمة مزدهرة مع مؤسسة غنية على أساس الابتكار والإبداع والخيال لتصفيف السيارة. اوتيتك دائما على اطلاع على التكنولوجيا الجديدة في التصميم سيارة لإعطاء عملائها أفضل الجودة والخدمة.</p>
        <p class="abt-p"style="direction: rtl;font-size: 18px;">وتشمل الخدمات الحالية اوتيتك ل: المهندسة عالية نانو الأفلام السيراميك تلوين ال أمن . فائق طلاء الجسم حماية الطلاء الذي يحمي سيارتك من الخدوش وغيرها من المواد الخطرة على الطريق مع الحفاظ على سيارتك نظرة جديدة، وتيار العليا غسيل السيارات التي تعطي سيارتك الخارجي نظيفة تألق والداخلية.</p>
        <p class="abt-p"style="direction: rtl;font-size: 18px;">نحن تزدهر على قيادة السوق مع جودة المنتجات والخدمات. ويعتقد اوتيتك في رضا العملاء الحقيقية والقيم عملائنا بشكل كبير لأننا ندرك أن 'سيارتك يستحق أفضل! </p>
        </div>
    </ion-content>
</ion-view>
