<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<!-- <ion-tabs class="tabs-icon-top tabs-color-active-positive"> -->
<!-- Dashboard Tab -->
<!--   <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-view name="tab-dash"></ion-view>
  </ion-tab> -->
<!-- Chats Tab -->
<!--   <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab> -->
<!-- Account Tab -->
<!--   <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab> -->
<!-- 
</ion-tabs> -->
<style type="text/css">
#container {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;
}

#innerContainer {
    width: 100%;
    height: 32%;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
}

#innerContainer2 {
    width: 100%;
    height: 22.5%;
    position: absolute;
    top: 32%;
    background-image: url("img/salesstatbg.jpg");
    background-size: cover;
    text-align: center;
    font-size: 18px;

}

#innerContainer3 {
    width: 100%;
    height: 22.5%;
    position: absolute;
    top: 54.5%;
    background-image: url("img/salesstatbg.jpg");
    background-size: cover;
    text-align: center;
    font-size: 18px;
   
}

#innerContainer4 {
    width: 100%;
    height: 23%;
    position: absolute;
    top: 77%;
    background-image: url("img/salesstatbg.jpg");
    background-size: cover;
    text-align: center;
    font-size: 18px;

}


#sidecontainer1 {
    width: 49.6%;
    height: 16.8%;
    background: #66f;
    position: absolute;
    top: 32%;
    left: 0.2%;
}

#leftcontainer1 {
    width: 49.8%;
    height: 16.8%;
    background: #66f;
    position: absolute;
    top: 32%;
    left: 50%;
}

#sidecontainer2 {
    width: 49.6%;
    height: 16.7%;
    background: #66f;
    position: absolute;
    top: 49%;
    left: 0.2%;
}

#leftcontainer2 {
    width: 49.8%;
    height: 16.7%;
    background: #66f;
    position: absolute;
    top: 49%;
    left: 50%;
}

#sidecontainer3 {
    width: 49.6%;
    height: 16.9%;
    background: #66f;
    position: absolute;
    top: 66%;
    left: 0.2%;
}

#leftcontainer3 {
    width: 49.8%;
    height: 16.9%;
    background: #66f;
    position: absolute;
    top: 66%;
    left: 50%;
}

#sidecontainer4 {
    width: 49.6%;
    height: 16.7%;
    background: #66f;
    position: absolute;
    top: 83%;
    left: 0.2%;
}

#leftcontainer4 {
    width: 49.8%;
    height: 16.7%;
    background: #66f;
    position: absolute;
    top: 83%;
    left: 50%;
}

#text {
    z-index: 100;
    position: absolute;
    top: 80%;
    width: 100%;
}

#text2 {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 25px;
    left: 25%;
    text-align: center;
    top: 80%;
}

#text1 {
    z-index: 100;
    position: absolute;
    color: black;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    top: 80%;
}

.ava {
    border-width: 0px;
}
.register_img{
    text-align: center;
    margin-top: 15px;
}
.register_img img{
    width: 90px;
}
.profile_icon{
    width: 75px;
    height: 75px;
    position: relative;
    top: 0px;
    margin: auto;
    margin-top: -35%;
}


</style>
<ion-view hide-nav-bar="true">
<!--     <ion-header>
        <div class="bar bar-header" style="background: transparent;">
            <button ui-sref="app.notifications" class="button icon ion-ios-bell"></button>
            <img src="img/autotek_logo.png" style="width: 20%; margin-left: 30%;">

            <button class="button icon ion-gear-a" style="margin-left:30%;"></button>
        </div>
    </ion-header> -->
    <ion-content class="ak-bg" scroll="false">
        <div id="container" class="ak-bg">
            <div id="innerContainer">
               
             <a ui-sref="app.settings"><button class="custombutton icon ion-gear-a" id="gear_icon"></button></a>
                   
                <img src="img/background4.png" style="width: 100%; max-height: 100%;">
                <div class="profile_icon">
                    <img src="img/profileicon.png" style="width: 100%; height: 100%;">
                </div>
                <div style="width: 40%;
    margin: auto;
    margin-top: -37%;">
                    <img src="img/autotek_logo.png" style="width: 100%;height: 100%;">
                </div>
                <button class="custombutton icon ion-ios-bell" ui-sref="app.notifications" style="position: absolute;top: 0px;"></button>
                <div style="position: absolute; top: 80%; width: 100%; text-align: center; font-size: x-large; color: white;">
                    {{user.FirstName}} {{user.LastName}}
                </div>
            </div>
            <div id="innerContainer2">
            <a ui-sref="app.agentRegister">
                <!--<img src="img/salesstatbg.jpg" style="width: 100%; max-height: 100%;">-->
                  <div class="register_img">
                    <img src="img/registeracustomer.png">
                  </div>
                 
                </a>
               <p>تسجيل العملاء</p>
            </div>
            <div id="innerContainer3">
            <a ui-sref="app.salestat">
                    <div class="register_img">
                        <img src="img/sales_stat.png">
                    </div>
                </a>
                <p>إحصاءات المبيعات</p>
            </div>
            <div id="innerContainer4">
            <a ui-sref="app.earninghistory">
                 <div class="register_img">
                        <img src="img/earning_history.png">
                    </div>
                </a>
                <p>تاريخ الكسب</p>
            </div>
        </div>
    </ion-content>
</ion-view>
