<style>
#bookingcontainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.listitem {
    height: 120px;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: white;
}

.calender {
    width: 100px;
    height: 80px;
    margin-top: 20px;
    left: 15px;
    position: absolute;
    background-color: black;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.talkbubble {
    width: 100px;
    height: 20px;
    background: red;
    position: absolute;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
        border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.talkbubble2 {
    width: 100px;
    height: 20px;
    background: white;
    position: absolute;
    top: 60.5px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.rectangle {
    width: 100px;
    height: 40px;
    top: 20px;
    position: absolute;
    background: white;
}

.timeappointment {
    position: absolute;
    width: 130%;
    left: 130px;
    color: white;
    font-size: 25px;
    font-weight: 600;
    /* margin-top: 10px; */
    height: 40px;
    top: 10px;
}

.locationappointment {
    color: white;
    font-size: 16px;
    position: absolute;
    left: 130px;
    width: 120px;
    top: 40px;
}

.lg-icon-caret-left:before {
    content: "\e90a";
}
</style>
<ion-view title="التعيينات">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-ios-arrow-back" style="color: white;" nav-direction="back" ng-click="$ionicGoBack(); "></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon" style="color: white;"></button>
    </ion-nav-buttons>
    <ion-content class="has-header has-footer ak-bg" style="background-color: black;">
        <ion-refresher pulling-text="Refreshing" on-refresh="doRefresh()"></ion-refresher>
        <div id="bookingcontainer">
            <div class="listitem" ng-repeat="x in appointments">
                <div class="calender">
                    <div class="talkbubble">
                        <p style="text-align: center; color: white;">{{x.day}}</p>
                    </div>
                    <div class="rectangle">
                        <p style="text-align: center; font-size: 25px;color: red;margin-top: 8px;">{{x.date}}</p>
                    </div>
                    <div class="talkbubble2">
                        <p style="text-align: center;">{{x.month}}</p>
                    </div>
                    
                    <div class="timeappointment">
                        {{x.startTime}}
                    </div>
                    <div class="locationappointment">
                        <img src="img/location_icon_red.png" width="15" height="15"> {{x.location}}
                    </div>
                </div>
            </div>
               <div style="text-align: center; margin-top: 40px;">
                    <img src="img/noappointment.png" ng-if="isappoinment" style="width: 150px;">
                    <p ng-if="isappoinment" style="color: white" dir="rtl">لا يوجد موعد</p>
            </div>
            <ion-infinite-scroll on-infinite="getMoreAppointment()" distance="1%" ng-if="!noMoreAppointment"></ion-infinite-scroll>
        </div>
    </ion-content>
    <ion-footer>
        <a ui-sref="app.appointmenta">
            <div class="bar bar-footer bar-assertive">
                <div class="title">كتاب تعيين</div>
            </div>
        </a>
    </ion-footer>
</ion-view>
