
<ion-view>
    <ion-header>
        <div class="bar bar-header bar-dark no-top">
            <div class="buttons">
                <button class="button button-icon ion-ios-arrow-back" nav-direction="back" ng-click="$ionicGoBack(); "></button>
            </div>
            <h1 class="title">اتصل بنا</h1>
        </div>
    </ion-header>
<ion-content class="has-header ak-bg" style="background-color: black;">

<div class="c" style="margin-top: 10px;">
	<div class="add-img"><img src="img/profile_small_icon.png" style="float: right;width: 15%;margin-top: -73px;margin-right: 10px;"></div>
	<p style="color: white;float: right;margin-top: -56px;margin-right: 75px;">عنوان</p>
	
	<div ng-click="openMap()">
	<div  class="ak-content" style="text-align: right;text-decoration: underline;"><p  style="margin-top: 90px;">AI-Madinah AI-Munawarah Rd, District </p></div>
	<p class="ak-content" style="text-align: right;text-decoration: underline;">Rawdah Jeddah 23434 4786</p>
	</div>
	

	<div class="blk-content">

		<div style="width:90%; float:right; padding-top:10px; border-top:2px solid #FFF;">
			  <img src="img/profile_small_icon.png" style="width:15%; float: right;"/>
			<a href="tel: +9923423"><label style=" color: #fff;  float:right; padding-top:10px;margin-right: 10px;text-decoration: underline;">920002108</label></a>
		</div>
		<div style="width:90%; float:right; padding-top:10px; ">
			  <img src="img/profile_small_icon.png" style="width:15%; float: right;"/>
			<a  href="mailto:sales@autotek.com" ><label style=" color: #fff;  float:right; padding-top:10px;margin-right: 10px; text-decoration: underline;">Sales@autotek.com</label></a>
		</div >
			<div style="width:90%; float:right; padding-top:10px;border-bottom:2px solid #FFF; padding-bottom: 10px;">
			  <img src="img/profile_small_icon.png" style="width:15%; float: right;"/>
			<label ng-click="openWeb()" style=" color: #fff;  float:right; padding-top:10px;margin-right: 10px;text-decoration: underline;">http://www.autoksa.com</label>
		</div>
		
	</div>




	<div class="blk-content">
		<ul style="float:right">
			<li><p class="ak-content" >الإثنين</p></li>
			<li><p class="ak-content" >الثلاثاء</p></li>
			<li><p class="ak-content" >الأربعاء</p></li>
			<li><p class="ak-content" >الخميس</p></li>
			<li><p class="ak-content" >الجمعة</p></li>
			<li><p class="ak-content" >يوم السبت</p></li>
			<li><p class="ak-content" >الأحد</p></li>
		</ul>
		<ul style="float:right">
			<li><p class="ak-content" >=</p></li>
			<li><p class="ak-content" >=</p></li>
			<li><p class="ak-content" >=</p></li>
			<li><p class="ak-content" >=</p></li>
			<li><p class="ak-content" >=</p></li>
			<li><p class="ak-content" >=</p></li>
			<li><p class="ak-content" >=</p></li>
		</ul>
		<ul style="float:right">
			<li><p class="ak-content" >8:00 am - 6:00 pm</p></li>
			<li><p class="ak-content" >8:00 am - 6:00 pm</p></li>
			<li><p class="ak-content" >8:00 am - 6:00 pm</p></li>
			<li><p class="ak-content" >8:00 am - 6:00 pm</p></li>
			<li><p class="ak-content" >Closed</p></li>
			<li><p class="ak-content" >8:00 am - 6:00 pm</p></li>
			<li><p class="ak-content" >8:00 am - 6:00 pm</p></li>
		</ul>
	</div>
</div>
</ion-content>
</ion-view>