<ion-view title="NOTIFICATIONS">
    <!-- 	    <ion-header>
        <div class="bar bar-header bar-dark no-top">
            <div class="buttons">
                <button class="button button-icon ion-ios-arrow-back" nav-direction="back" ng-click="$ionicGoBack(); "></button>
            </div>
            <h1 class="title">NOTIFICATIONS</h1>
        </div>
    </ion-header> -->
    <ion-nav-buttons side="left">
    <div class="buttons">
        <button class="button button-icon ion-ios-arrow-back" style="color: white;" nav-direction="back" ng-click="$ionicGoBack(); "></button>
    </div>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon icon ion-navicon" style="color: white;"></button>
    </ion-nav-buttons>
    <ion-content class="has-header ak-bg" style="background-color: black;">
        <div ng-repeat="x in notification" style="position: relative; color: white; border-bottom-style: solid; border-bottom-color: white; border-bottom-width: thin;">
            <p style="margin-top: 5px;margin-left: 25px;color: red;font-weight: bolder;">{{x.Title_AR}}</p>
            <p style="margin-left: 25px;">{{x.Description_AR}}</p>
            <p style="margin-bottom: 5px; margin-left: 65%;">{{x.month}} {{x.date}}, {{x.year}}</p>
        </div>
         <ion-infinite-scroll on-infinite="getMoreNotification()" distance="1%" ng-if="noMoreNotification"></ion-infinite-scroll>
    </ion-content>
</ion-view>
