<style type="text/css">
.promocontainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.nextoffer {
    position: relative;
    width: 95%;
    left: 2.5%;
    /* height: 250px; */
    top: 10px;
    background-color: white;
    padding: 5px 0px 5px 0px;
    margin-bottom: 5px;
}

.nextofferheader {
    position: relative;
    /* top: 5px; */
    background-color: green;
    width: 95%;
    height: 50px;
    left: 2.5%;
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
    margin-bottom: 5px;
    line-height: 25px;
}

.nobox {
    position: relative;
    /* top: 4%; */
    width: 95%;
    /* height: 90%; */
    margin-left: 2.5%;
    margin-top: -2%;
    background-color: darkseagreen;
}

.nodottedbox {
    position: relative;
    width: 90%;
    /* height: 100%; */
    margin-left: 5%;
    border-style: dashed;
    border-color: darkseagreen;
    border-width: initial;
    padding-bottom: 1%;
}

.box {
    position: relative;
}

.boxcolor2 {
    background-color: orange;
}

.dottedbox2 {
    background-color: rgba(247, 184, 123, 0.89);
}

.dottedboxborder2 {
    border-color: rgba(247, 184, 123, 0.89);
}

.boxcolor3 {
    background-color: #4d4f4d;
}

.dottedbox3 {
    background-color: #cdd0cd;
}

.dottedboxborder3 {
    border-color: #cdd0cd;
}

.heading {
    position: relative;
    padding: 12px 0px 0px 30px;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.offertitle {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 13px;
    font-weight: bold;
}

.offercontent {
    margin-left: 10px;
}
.dropdown {
  position: relative;
  display: inline-block;
  text-align: left;
  width: 90%;
}

.dropdown-text {
  cursor: pointer;
  position: absolute;
  text-indent: 10px;
  line-height: 45px;
  background-color: green;
  /*border: 1px solid #ccc;*/
  /*border-radius: 3px;*/
  /*box-shadow: 0 1px 0 rgba(255,255,255, .9) inset, 0 1px 3px rgba(0,0,0, .1);*/
  width: 100%;
}

.dropdown-text:after {
  position: absolute;
  right: 6px;
  top: 15px;
  content: '';
  width: 0px;
  height: 0px;
  /*border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #555 transparent transparent transparent;*/
}

.dropdown-text,
.dropdown-content a {
  color: white;
  /*text-shadow: 0 1px #fff;*/
}

.dropdown-toggle {
  font-size: 0;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 0;
  /*border: none;*/
  padding: 0;
  margin: 0 0 0 1px;
  background: transparent;
  text-indent: -10px;
  height: 34px;
  width: 100%;
  border-bottom: none !important;
}

.dropdown-toggle:focus {
  /*outline: 0;*/
}

.dropdown-content {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  list-style-type: none;
  position: absolute;
  top: 32px;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility:hidden;
  text-indent: 10px;
  line-height: 32px;
  background-color: #eee;
  /*border: 1px solid #ccc;*/

  width: 100%;
}

.dropdown-content a {
  display: block;
}

.dropdown-content a:hover {
  background: #e8e8e8;
}


.dropdown-toggle:hover ~ .dropdown-text,
.dropdown-toggle:focus ~ .dropdown-text {
  background-color: green;
}

.dropdown-toggle:focus ~ .dropdown-text {
  /*box-shadow: 0 1px 3px rgba(0,0,0, .2) inset, 0 1px 0 rgba(255,255,255, 0.8);*/
  z-index: 2;
}

.dropdown-toggle:focus ~ .dropdown-text:after {
  /*border-width: 0 4px 5px 4px;*/
  /*border-color: transparent transparent #555 transparent;*/
}

.dropdown-content:hover,
.dropdown-toggle:focus ~ .dropdown-content {
  opacity: 1;
  visibility:visible;
  top: 42px;
}
a{
    text-decoration: none;
}
</style>

<ion-view>
    <ion-header>
        <div class="bar bar-header bar-dark no-top">
            <div class="buttons">
                <button class="button button-icon ion-ios-arrow-back" nav-direction="back" ng-click="$ionicGoBack(); "></button>
            </div>
            <h1 class="title">PROMOTIONS</h1>
        </div>
    </ion-header>
    <ion-content class="has-header ak-bg" style="background-color: black;">
       <div class="promocontainer">
            <div class="nextoffer">
                <div class="nextofferheader" ng-click="showDetails = ! showDetails">
                    <div class="heading" style="text-align:right;"><i class="ion-arrow-left-b" style="float: right;margin-right: 5px; padding-left:5px;"></i> العروض القادمة</div>
                </div>
                <div ng-repeat="x in nextOfferDate" class="box" style="/*width: 100%; height: 72%; top: 25%; position: relative;*/">
                    <div class="nodottedbox" ng-show="showDetails">
                        <div class="nobox" ng-show="showDetails">
                            <div class="offertitle" style="text-align: right" ng-show="showDetails" ng-hide="true">عرض عنوان
                            </div>
                            <div class="offercontent" ng-show="showDetails" style="text-align: right">
                                {{x.Description_AR}}  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nextoffer">
                <div class="nextofferheader boxcolor2" ng-click="showDetails1 = ! showDetails1">
                    <div class="heading" style="text-align:right;"><i class="ion-arrow-left-b" style="float: right;margin-right: 5px; padding-left:5px;"></i> العروض حصل</div>
                </div>
                <div ng-repeat="x in nextOfferDate" class="box" style="/*width: 100%; height: 72%; top: 25%; position: relative;*/">
                    <div class="nodottedbox dottedboxborder2" ng-show="showDetails1">
                        <div class="nobox dottedbox2" ng-show="showDetails1">
                            <div class="offertitle" style="text-align: right" ng-show="showDetails1" ng-hide="true">عرض عنوان
                            </div>
                            <div class="offercontent" style="text-align: right" ng-show="showDetails1">
                                 {{x.Description_AR}} 
                            </div>
                        </div>
                    </div>
                </div>   
             
            </div>
            <div class="nextoffer">
                <div class="nextofferheader boxcolor3" ng-click="showDetails2 = ! showDetails2">
                    <div class="heading" style="text-align:right;"><i class="ion-arrow-left-b" style="float: right;margin-right: 5px; padding-left:5px;"></i> العروض المستهلكة</div>
                </div>
                <div ng-repeat="x in [1]" class="box" style="/*width: 100%; height: 72%; top: 25%; position: relative;*/">
                    <div class="nodottedbox dottedboxborder3" ng-show="showDetails2">
                        <div class="nobox dottedbox3" ng-show="showDetails2">
                            <div class="offertitle" style="text-align: right" ng-show="showDetails2" ng-hide="true">عرض عنوان
                            </div>
                            <div class="offercontent" style="text-align: right" ng-show="showDetails2">
                                 {{data}}  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div> 
  <!--   <div style="text-align: center">    
         <div class="dropdown">


            <input class="dropdown-toggle" type="text">
            <div class="dropdown-text">العروض القادمة</div>
                <ul class="dropdown-content" style="z-index: 10;">
                    <div class="nodottedbox">
                        <div class="nobox">
                            <div class="offertitle">عرض عنوان
                            </div>
                            <div class="offercontent">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            </div>
                        </div>
                    </div>
                    <div class="nodottedbox">
                        <div class="nobox">
                            <div class="offertitle">عرض عنوان
                            </div>
                            <div class="offercontent">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
    </div>
    <div style="text-align: center; margin-top:40px;">    
         <div class="dropdown">


            <input class="dropdown-toggle" type="text">
            <div class="dropdown-text">العروض حصل</div>
                <ul class="dropdown-content" style="z-index: 10;">
                    <div class="nodottedbox">
                        <div class="nobox">
                            <div class="offertitle">عرض عنوان
                            </div>
                            <div class="offercontent">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            </div>
                        </div>
                    </div>
                    <div class="nodottedbox">
                        <div class="nobox">
                            <div class="offertitle">عرض عنوان
                            </div>
                            <div class="offercontent">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
    </div>
     <div style="text-align: center; margin-top:40px;">    
         <div class="dropdown">


            <input class="dropdown-toggle" type="text">
            <div class="dropdown-text">العروض المستهلكة</div>
                <ul class="dropdown-content">
                    <div class="nodottedbox">
                        <div class="nobox">
                            <div class="offertitle">عرض عنوان
                            </div>
                            <div class="offercontent">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            </div>
                        </div>
                    </div>
                    <div class="nodottedbox">
                        <div class="nobox">
                            <div class="offertitle">عرض عنوان
                            </div>
                            <div class="offercontent">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
    </div> -->
   </ion-content>
</ion-view>
